body {
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: white;
}

.wake {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::-webkit-scrollbar{
    display: none;
}
.dropdown-item:hover{
    background-color: red;
}
.dropdown-item:focus{
    background-color: red;
}
.dropdown-item:active{
    background-color: rgb(77, 8, 8);
}
